/* Define o layout geral do site */
body {
    background-color: rgb(139, 146, 185);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para o cabeçalho */
  header {
    background-color: #f1c40f;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Estilo para o formulário de notas */
  form {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px;
  }
  
  /* Estilo para os campos de notas */
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: px;
  }
  
  /* Estilo para o botão de calcular média */
  form button {
    background-color: rgb(77, 83, 116);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
  }
  
  /* Estilo para o resultado */
  #resultado {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  /* Estilo para o resultado aprovado */
  #resultado.aprovado {
    background-color: #2ecc71;
    color: #fff;
  }
  
  /* Estilo para o resultado reprovado */
  #resultado.reprovado {
    background-color: #e74c3c;
    color: #fff;
  }